@import "modules/_index";

html { box-sizing: border-box; }
*,*:before,*:after { box-sizing: inherit; }

body {
	max-width: 700px;
	margin: 0 auto;
	background: #fff;
	font-family: $brandSerif;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px; padding: 0; border: 0;
}
