@import "modules/_index";

body, html {
  height: 100%;
}

body {
  font-family: $sansSerif;
  text-align: center;
  background: #187da3;
  color: #fff;
  font-size: 16px;
  overflow: hidden;
}

.conversion-app {

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  text-align: center;
  font-size: 3rem;
  padding: 30px;
  max-width: 400px;
  margin: 0 auto;

  form {
    width: 100%;
  }

  label, input, button {
    display: block;
    margin: 1em auto;
  }

  input {
    padding: 1em;
    font-size: .3em;
    margin-top: 35vh;
    width: 100%;
    border: 0px;
    border-radius: 3px;
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background: #fff;
    border: 0;
    cursor: pointer;
    border: 2px solid transparent;
    color: #187da3;
    font-size: 1.5rem;
    box-shadow: 0 3px 0 2px rgba(5, 24, 31, 0.24);
    &:active {
      box-shadow: none;
      transform: scale(.98);
    }
    &:focus {
      outline: none;
    }
  }

  .total {
    position: absolute;
    top: 20vh;
    left: 50%;
    width: 100%;
    transform: translate(-50%);
    &:focus {
      outline: none;
    }
    &.zoom {
      // animation: zoom .3s ease-in-out forwards;
    }
  }

}

@keyframes zoom {
  50% {
    transform: translate(-50%) scale(1.4);
  }
}
