// Brand Colors
/*
$brandTan: #A0A08E;
$brandDarkBlue: #002D5B;
$brandLightBlue: #034F96;
*/

$babyBear: 320px;
$toddlerBear: 600px;
$mamaBear: 768px;
$papaBear: 993px;
$grandpaBear: 1200px;

$brandPrimary: #94BCBF;
$brandSecondary: #F3D491;
$serif: 'PT Serif', serif;
$sansSerif: 'Open Sans', sans-serif;
$tubeWidth: 44em;
$headingColor: #222;
$textColor: #3A4145;
$textLinkColor: #0e7589;
$textLinkFocusBackground: #FFFEE4;
